doctype true
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:o='urn:schemas-microsoft-com:office:office', xmlns:v='urn:schemas-microsoft-com:vml')
  head
    meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
    meta(content='width=device-width', name='viewport')
    title
    style(type='text/css').
      body {
        margin: 0;
        padding: 0;
      }
      table,
      td,
      tr {
        vertical-align: top;
        border-collapse: collapse;
      }
      * {
        line-height: inherit;
      }
      a[x-apple-data-detectors=true] {
        color: inherit !important;
        text-decoration: none !important;
      }
    style#media-query(type='text/css').
      @media (max-width: 620px) {
        .block-grid,
        .col {
          min-width: 320px !important;
          max-width: 100% !important;
          display: block !important;
        }
        .block-grid {
          width: 100% !important;
        }
        .col {
          width: 100% !important;
        }
        .col>div {
          margin: 0 auto;
        }
        .no-stack .col {
          min-width: 0 !important;
          display: table-cell !important;
        }
        .no-stack.two-up .col {
          width: 50% !important;
        }
        .no-stack .col.num4 {
          width: 33% !important;
        }
        .no-stack .col.num8 {
          width: 66% !important;
        }
        .no-stack .col.num4 {
          width: 33% !important;
        }
        .no-stack .col.num3 {
          width: 25% !important;
        }
        .no-stack .col.num6 {
          width: 50% !important;
        }
        .no-stack .col.num9 {
          width: 75% !important;
        }
      }


  body.clean-body(style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 300;min-height: 100%;height: 100%;width: 100%;")
    //if IE
      .ie-browser
    table.nl-container(bgcolor='#eaeaea', cellpadding='0', cellspacing='0', role='presentation', style='table-layout: fixed; vertical-align: top; min-width: 320px; Margin: 0 auto; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #eaeaea; width: 100%;', valign='top', width='100%')
      tbody
        tr(style='vertical-align: top;', valign='top')
          td(style='word-break: break-word; vertical-align: top;', valign='top')
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
                    div(style='width:100% !important;')
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        table.divider(border='0', cellpadding='0', cellspacing='0', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;', valign='top')
                                table.divider_content(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid transparent; width: 100%;', valign='top', width='100%')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top')
                                        span

            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')

                  .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        .img-container.left.autowidth(align='left', style='padding-right: 0px;padding-left: 35px;padding-top:10px')

                          img.left.autowidth(alt='MatPilot', border='0', src='https://www.matpilot.com/img/mc-logo.51a5b853.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; border: 0; height: auto; width: 100%; max-width: 73px; display: block;', title='Alternate text', width='73')
                          //if mso
                        table.divider(border='0', cellpadding='0', cellspacing='0', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;', valign='top')
                                table.divider_content(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #BBBBBB; width: 100%;', valign='top', width='100%')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top')
                                        span
                        div(style='color:#0D0D0D;padding-top:20px;padding-right:10px;padding-bottom:10px;padding-left:55px;')
                          div()
                            p(style='font-size: 16px; text-align: left; color:#555') To access your member accounts, you need to verify your email
                        .button-container(align='center', style='padding-top:25px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                          div(style='text-decoration:none;display:inline-block;color:#ffffff;background-color:#4caf50;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;width:auto; width:auto;;border-top:1px solid #4caf50;border-right:1px solid #4caf50;border-bottom:1px solid #4caf50;border-left:1px solid #4caf50;padding-top:15px;padding-bottom:15px;text-align:center;mso-border-alt:none;word-break:keep-all;')
                            a(href=`${tokenLink}` style="-webkit-text-size-adjust: none;" target="_blank")
                              span(style='padding-left:15px;padding-right:15px;display:inline-block;')
                                span(style='font-size: 18px; line-height: 2; mso-line-height-alt: 32px; color:#FFF') VERIFY YOUR EMAIL

                          div(style='color:#555;padding-top:35px;padding-right:10px;padding-bottom:10px;padding-left:55px;')
                            div()
                              p(style='font-size: 16px; margin: 0; text-align: left; color:#555') Or, copy and paste the following URL into your browser:
                                p(style='text-align: left;')
                                  a(href=`${tokenLink}`) #{tokenLink}

                          table.divider(border='0', cellpadding='0', cellspacing='0', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%')
                            tbody
                              tr(style='vertical-align: top;', valign='top')
                                td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 30px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;', valign='top')
                                  table.divider_content(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; width: 100%;', valign='top', width='100%')
                                    tbody
                                      tr(style='vertical-align: top;', valign='top')
                                        td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top')
                                          span
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
                    div(style='width:100% !important;')
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')

                        div(style='color:#555555;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                          div()
                            p(style='font-size: 12px; text-align: center; ')
                              span(style='font-size: 12px;')
                                | If you have any questions, simply respond to this email and we'll be happy to help.
